<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start Page</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='ind.css') }}">
</head>
<body>
    <div class="home">
        <div class="overlay"></div>

        <div class="content-box">
            <h1 class="content">Voice Changer</h1>

            <i><p class="phome">
                Transform your voice with professional DSP effects. 
                Apply preset effects or clone celebrity voices using advanced audio processing.
            </p></i>

            <a href="/main"><button class="btn"><b><i>⚡Get Started</i></b></button></a>
        </div>
    </div>
</body>
</html>